<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fd62e5">  <td>20/05/19 11:15:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCase1.beforeClass()[pri:0, instance:Pack1.TestCase1@6c49835d]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2095490653</td>   <td></td> </tr>
<tr bgcolor="fd62e5">  <td>20/05/19 11:15:59</td>   <td>31072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase1.openMyBlog()[pri:0, instance:Pack1.TestCase1@6c49835d]">openMyBlog</td> 
  <td>main@2095490653</td>   <td></td> </tr>
<tr bgcolor="fd62e5">  <td>20/05/19 11:16:16</td>   <td>47733</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase1.afterClass()[pri:0, instance:Pack1.TestCase1@6c49835d]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2095490653</td>   <td></td> </tr>
</table>
